beautifulsoup4
cryptography
fastapi
firebase_admin
mysql_connector_repackaged
pydantic
python-dotenv
requests
schedule
selenium
SQLAlchemy
starlette
uvicorn
pymysql
email-validator
firebase-admin
mysql-connector-repackaged
Pillow